<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662991987486-gcqkque6uf9s37ok1bv67bvouou7bpsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662991987486-gcqkque6uf9s37ok1bv67bvouou7bpsb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>662991987486-hhlakmhq53m5c417fdu2q2vj81fvi2sk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuQBMsITh4xes6OHMb6qskLKa5sxyF_m0</string>
	<key>GCM_SENDER_ID</key>
	<string>662991987486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jhfactory.kspot002</string>
	<key>PROJECT_ID</key>
	<string>kspot-002</string>
	<key>STORAGE_BUCKET</key>
	<string>kspot-002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662991987486:ios:f6d55910018982896ddf0f</string>
</dict>
</plist>